// Place all the styles related to the pricing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@mixin breakpoint($point) {
  @if $point == mobile-phone {
    @media (max-width: 420px) { @content; }
  }
  @else if $point == computer {
    @media (min-width: 781px)  { @content; }
  }
}


.container {
  max-width:  960px;

  .plan {
    @include breakpoint(mobile-phone){
      float:none;
      width: 100%;
      margin:0;
      img {
        display: hidden;
        }
    }
    @include breakpoint(computer){
        height: 500px;
        float: left;
        max-width: 300px / 960px * 100%;
        margin: 0 10px;
    }
  }
}


 

img {
    max-width: 100%;
  }
