// Place all the styles related to the pricing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  max-width:  960px;

  .plan {
    float:none;
    width: 300px / 960px *100%;
    margin:0;
  }

  img {
  display: hidden;
  }
 
  @media all and (min-width: 420px) {
    .plan {
      height: 500px;
      float: left;
      width: 300px / 960px * 100%;
      margin: 0;
    }

    .plan.premium {
      margin: 0 (30px / 960px * 100%);
    }
  } 
}

 

img {
    max-width: 100%;
  }
